{
  "singleQuote": true,
  "semi": false,
  "trailingComma": "none",
  "printWidth": 80,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": [".prettierrc", ".eslintrc"],
      "options": { "parser": "json" }
    }
  ]
}
